@media (min-width: 1300px) {
    .container {
        min-width: 1280px;
    }
}

@media (max-width: 776px) {
    .header .navbar-brand {
        flex      : 1 0 100%;
        text-align: center;
    }

    .header .navbar {
        padding-top   : 15px;
        padding-bottom: 15px;
    }

    .slider-for .slick-slide .card {
        height: 320px;
    }

    .cart .card-body {
        margin-left: 0;
    }

    .cabinet__form .btn {
        margin-right : 0;
        margin-bottom: 24px;
    }

    .cabinet__form .btn-exit {
        margin-right: 0;
    }

    .order__body {
        flex-direction: column;
    }

    .order__image {
        max-width: initial;
    }

    .order__image img {
        width: 100%;
    }

    .order__info {
        padding-left: 0;
    }

    .order__info .name {
        margin-top: 10px;
    }


    .search__body {
        flex-direction: column;
    }

    .search__ui {
        top  : 100px;
        width: 80%;
    }

    .search__product .item {
        flex-direction: column;
    }

    .search__product {
        flex      : 1 0 auto;
        max-width : 100%;
        max-height: initial;
        overflow-y: visible;
    }

    .search__product .item .info {
        flex     : 1 0 auto;
        max-width: 100%;
    }

    .search__product .item .image {
        flex     : 1 0 auto;
        max-width: 100%;
    }

    .search__footer .link.all {
        justify-content: center;
    }

    .header .dropdown-lang {
        position: absolute;
        top     : 15px;
        left    : 75px;
    }

    .search__product {
        display  : flex;
        flex-wrap: wrap;
    }

    .search__product .label {
        flex     : 0 0 100%;
        max-width: 100%;
    }

    .search__product .item {
        flex     : 0 0 50%;
        max-width: 50%;
        padding  : 0 10px;
    }
}

@media (max-width: 546px) {
    .header .nav-action .nav-link .badge {
        right: -6px;
    }

    .header .main-nav .nav-item,
    .header .main-nav .nav-fill>.nav-link {
        flex-basis: 100%;
    }

    .header .main-nav .nav-link {
        justify-content: flex-end;
    }

    .product-info .btn-group:first-child {
        border-right: 1px solid #d7d7d7;
    }

    .product-info .btn-title {
        flex: 1 1 70%;
    }

    .btn-lg {
        font-size  : 16px;
        line-height: 16px;
    }

    .banner .jumbotron {
        padding-left : 55px;
        padding-right: 55px;
    }

    .cart .card-body .btn-title {
        flex: 1 0 70%;
    }

    .cabinet__form .main .avatar {
        margin-bottom: 24px;
    }

    .cabinet__form .main .__header {
        flex-direction: column;
        align-items   : center;
    }

    .header .dropdown-lang {
        position: absolute;
        top     : 15px;
        left    : 45px;
    }

    .header .main-nav {
        top     : 20px;
        position: relative;
    }

    .header .search__field {
        position: absolute;
        z-index : -1;
    }

    .search__ui {
        width: 100%;
    }

    .header .nav-action .nav-link.search__btn {
        top  : 4px;
        right: -4px;
    }

    .header .nav-action .nav-item.search {
        width     : 0;
        transition: width 0.5s linear;
    }

    .header .nav-action .nav-item.search.show {
        position  : absolute;
        top       : 0;
        left      : 0;
        right     : 0;
        width     : 100%;
        height    : 140px;
        margin    : 0;
        background: #fff;
        z-index   : 1000;
        padding   : 0 15px;
    }

    .header .nav-action .nav-item.search.show .search__field {
        left      : 15px;
        top       : 50%;
        transform : translateY(-50%);
        transition: width 0.3s linear;
    }

    .header .nav-action .nav-item.search.show .nav-link.search__btn {
        top      : 50%;
        transform: translateY(-50%);
        right    : 80px;
    }

    .header .nav-action .nav-item.search.show .search__btn-close {
        display  : flex;
        position : absolute;
        top      : 50%;
        right    : 25px;
        transform: translateY(-50%);
    }

    .header .nav-action .search__field {
        width: calc(100% - 80px);

    }
}

@media (max-width: 478px) {
    .nav-action {
        order: 2;
    }

    .checkout .btn {
        display        : flex;
        width          : 100%;
        justify-content: center;
    }
}