@media (min-width: 1300px) {
    .container {
        min-width: 1280px;
    }
}

@media (max-width: 776px) {
    .header .navbar-brand {
        flex      : 1 0 100%;
        text-align: center;
    }

    .header .navbar {
        padding-top   : 15px;
        padding-bottom: 15px;
    }

    .slider-for .slick-slide .card {
        height: 320px;
    }

    .cart .card-body {
        margin-left: 0;
    }

    .cabinet__form .btn {
        margin-right : 0;
        margin-bottom: 24px;
    }

    .cabinet__form .btn-exit {
        margin-right: 0;
    }

    .order__body {
        flex-direction: column;
    }

    .order__image img {
        width: 100%;
    }

    .order__info {
        padding-left: 0;
    }

    .order__info .name {
        margin-top: 10px;
    }


    .search__body {
        flex-direction: column;
    }

    .search__product .item {
        flex-direction: column;
    }

    .search__product {
        flex     : 1 0 auto;
        max-width: 100%;
    }

    .search__product .item .info {
        flex     : 1 0 auto;
        max-width: 100%;
    }

    .search__product .item .image {
        flex     : 1 0 auto;
        max-width: 100%;
    }

    .search__footer .link.all {
        justify-content: center;
    }
}

@media (max-width: 556px) {
    .header .nav-action .nav-link .badge {
        right: -6px;
    }

    .header .main-nav .nav-item,
    .header .main-nav .nav-fill>.nav-link {
        flex-basis: 100%;
    }

    .header .main-nav .nav-link {
        justify-content: flex-end;
    }

    .product-info .btn-group:first-child {
        border-right: 1px solid #d7d7d7;
    }

    .product-info .btn-title {
        flex: 1 1 70%;
    }

    .btn-lg {
        font-size  : 16px;
        line-height: 16px;
    }

    .banner .jumbotron {
        padding-left : 55px;
        padding-right: 55px;
    }

    .cart .card-body .btn-title {
        flex: 1 0 70%;
    }

    .cabinet__form .main .avatar {
        margin-bottom: 24px;
    }

    .cabinet__form .main .__header {
        flex-direction: column;
        align-items   : center;
    }

}

@media (max-width: 478px) {
    .nav-action {
        order: 2;
    }

    .checkout .btn {
        display        : flex;
        width          : 100%;
        justify-content: center;
    }
}